$white: #fff;

$black: #000;

$content-color: rgba(0, 0, 0, .54);

$pink: #E91E63;

$site-font:"Roboto", "Helvetica", "Arial", sans-serif;


$footer-background: #424242;


$transparent: transparent;

$theme-color-dark: #283ebb;

$theme-color: #3f51b5;


$linkhover :  rgb(63, 107, 181);