
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);



@import"node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import'variables';





/* Navbar*/
.count-badge {
    background: #5cb85c;
}

.btn-half{
width: 70%;
text-align: center;
margin: 0 auto;
display: block;
}
.btn-top{
	margin-top:20px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: $theme-color;
}


.icon-bar {
    background-color: $white;
}
.navbar-toggle {

    background-color:$theme-color-dark;
}

nav.mainnav {
    background:$theme-color-dark;
    border: none;
    color: $white;
    border-radius: 0px;
    margin-bottom: 0px;
}


.nav.mainnav {
    color: #777;
}


.navbar-default .navbar-nav > li > a {
	color: $white;
	font-weight: 600;
	text-transform: uppercase;
}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: $white !important;
    background-color: $linkhover !important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color:$white;
    background-color:  $linkhover !important;
}

ul.nav.navbar-nav li {
    margin: 2px 5px;
}





div#imgbox img {
    margin: 0 auto;
}

label{
	    margin-top: 10px;
}

.form-spacing-top{
	margin-top: 20px;
}



.btn-top-margin{
	margin-top: 20px !important;
}

.container{
	margin-top: 30px;
}

div#slider {
    margin: 0px auto 30px;
}

 .readmore {

	display: block;

	margin: 0 auto;

	text-align: center;

}

.readmorebtn {

	background-color: $pink;

	color: $white;

	text-transform: uppercase;

	display: inline-block;

	padding: 10px 50px;

	text-align: center;

	vertical-align: middle;

	font-weight: 700;

	&:hover {

		color: $white;

		font-weight: 700;

		box-shadow: 0 2px 4px 0 rgba(158, 158, 158, 0.68), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 3px 9px 4px rgba(0, 0, 0, .2);

	}

}

.site-footer {

	margin-top: 30px;

	display: -webkit-flex;

	display: -ms-flexbox;

	display: flex;

	-webkit-flex-flow: row wrap;

	-ms-flex-flow: row wrap;

	flex-flow: row wrap;

	-webkit-justify-content: space-between;

	-ms-flex-pack: justify;

	justify-content: space-between;

	padding: 32px 16px;

	color: $white;

	background-color: $footer-background;

}

.footer-logo {

	line-height: 36px;

	float: left;

	text-align: center;

	margin: 0 auto;

}



.cell-3 {

	box-sizing: border-box;

	padding: 0px;

	@media (min-width: 840px) {

		margin: 8px;
		width: calc(25% - 16px)!important;

	}

}

img.gridimage {

	width: 100%;

	height: auto;

}

a.gridtitle {

	-webkit-align-items: center;

	-ms-flex-align: center;

	align-items: center;

	color: $black;

	display: block;

	display: -webkit-flex;

	display: -ms-flexbox;

	display: flex;

	-webkit-justify-content: stretch;

	-ms-flex-pack: stretch;

	justify-content: stretch;

	line-height: normal;

	padding: 16px;

	-webkit-perspective-origin: 165px 56px;

	perspective-origin: 165px 56px;

	-webkit-transform-origin: 165px 56px;

	transform-origin: 165px 56px;

	box-sizing: border-box;

	padding-bottom: 2px;

	margin-bottom: 2px;

	margin-top: 2px;
	
	font-size: 28px;
	
		&:hover {
			text-decoration: none;
			color:#03A9F4;
			
			}

}

.gridtext {

	color: $content-color;

	font-size: 14px;

	line-height: 18px;

	overflow: hidden;

	padding: 16px;

	width: 90%;

}

.grid-4-shadow {

	border: 2px solid #eee;

	margin-bottom: 20px;

	&:hover {

		box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);

	}

}

.grid-12-shadow {

	border: 2px solid #eee;

	margin-bottom: 20px;

	&:hover {

		box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);

	}

}

.section-center {

	margin: 0 auto 2rem;

}

a.button-link {

	text-decoration: none;

	font-weight: 700;

	color: $pink;

	&:hover {

		background-color: $pink;
		color: $white;

	}

}

.mdl-button {

	background: 0 0;

	border: none;

	border-radius: 2px;

	color: $black;

	position: relative;

	height: 36px;

	margin: 0;

	min-width: 64px;

	padding: 0 16px;

	display: inline-block;

	font-family: $site-font;

	font-size: 14px;

	font-weight: 500;

	text-transform: uppercase;

	letter-spacing: 0;

	overflow: hidden;

	will-change: box-shadow;

	transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1), background-color .2s cubic-bezier(.4, 0, .2, 1), color .2s cubic-bezier(.4, 0, .2, 1);

	outline: none;

	cursor: pointer;

	text-decoration: none;

	text-align: center;

	line-height: 36px;

	vertical-align: middle;

}

.card-actions.mdl-card-border {

	border-top: 1px solid rgba(0, 0, 0, .1);

}

.card-actions {

	font-size: 16px;

	line-height: normal;

	width: 100%;

	background-color: $transparent;

	padding: 8px;

	box-sizing: border-box;

}

.cardmid {

	color: $content-color;

	font-size: 1em;

	line-height: 18px;

	overflow: hidden;

	padding: 16px;

	width: 90%;

	font-family: $site-font;

}

.card-image-text {

	-webkit-align-self: flex-end;

	-ms-flex-item-align: end;

	align-self: flex-end;

	color: inherit;

	display: block;

	display: -webkit-flex;

	display: -ms-flexbox;

	display: flex;

	font-size: 24px;

	font-weight: 300;

	line-height: normal;

	overflow: hidden;

	-webkit-transform-origin: 149px 48px;

	transform-origin: 149px 48px;

	margin: 0;

}

.home-banner-image {

	color: $white;

	height: 290px;

	background: url(../img/homebanner.jpg) center/cover;

}

.card-image-banner {

	align-items: center;

	display: flex;

	justify-content: stretch;

	line-height: normal;

	padding: 16px;

	perspective-origin: 165px 56px;

	transform-origin: 165px 56px;

	box-sizing: border-box;

}

.card-width-row {

	width: calc(100% - 5px);

	display: -webkit-flex !important;

	display: -ms-flexbox;

	display: flex !important;

	-webkit-flex-direction: column;

	-ms-flex-direction: column;

	flex-direction: column;

	font-size: 16px;

	font-weight: 400;

	min-height: 200px;

	overflow: hidden;

	z-index: 1;

	position: relative;

	background: #fff;

	border-radius: 2px;

	box-sizing: border-box;

	margin: 0 auto;

}

.card-shadow {

	box-shadow: 0 9px 7px 0 rgba(0, 0, 0, .14), 0 1px 20px 0 rgba(0, 0, 0, .12), 0 8px 5px -1px rgba(0, 0, 0, .2);

}

.sitemax-width {

	margin: 0px;

	display: flex;

	flex-flow: row wrap;

	align-items: stretch;

}



.site-logo {

	background: url(../img/portfolio-logo.png) 50% no-repeat;

	background-size: cover;

	height: 120px;

	width: 120px;

	margin: 20px;

}

.site-description {

	display: block;

	font-size: 14px;

	text-align: center;

	font-weight: 400;

	font-size: 16px;

	margin: 20px 0;

}

.header-row {

	padding: 0;

	justify-content: center;

	position: relative;

	margin: 0;

	display: flex;

	align-items: center;

	box-shadow: border-box;

	flex-direction: row;

	flex-shrink: 0;

	min-height: 40px;

}

.logotitle {

	display: block;

	position: relative;

	font-family: $site-font;

	font-size: 20px;

	line-height: 1;

	letter-spacing: .02em;

	font-weight: 400;

	box-sizing: border-box;

}

.site-header {

	position: relative;

}

#mainheader {

	display: -webkit-flex;

	display: -ms-flexbox;

	display: flex;

	-webkit-flex-direction: column;

	-ms-flex-direction: column;

	flex-direction: column;

	-webkit-flex-wrap: nowrap;

	-ms-flex-wrap: nowrap;

	flex-wrap: nowrap;

	-webkit-justify-content: flex-start;

	-ms-flex-pack: start;

	justify-content: flex-start;

	box-sizing: border-box;

	-webkit-flex-shrink: 0;

	-ms-flex-negative: 0;

	flex-shrink: 0;

	width: 100%;

	margin: 0;

	padding: 0;

	border: none;

	min-height: 64px;

	max-height: 1000px;

	z-index: 3;

	background-color: $theme-color;

	color: $white;

	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);

	transition-duration: .2s;

	transition-timing-function: cubic-bezier(.4, 0, .2, 1);

	transition-property: max-height, box-shadow;

}




::selection {

	background: #b3d4fc;

	text-shadow: none;

}